.Sumit-btn {
    display: inline-block;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: linear-gradient(90deg, #ff6a6a, #ff8ccc);
    border-radius: 20px;
    letter-spacing: 1px;
    text-align: center;

    /* Glow + Soft Shadow */
    box-shadow: 0 0 15px rgba(255, 120, 160, 0.7),
                0 0 30px rgba(255, 120, 160, 0.4);

    transition: 0.3s ease-in-out;
}

/* Hover Effect */
.vikky-btn:hover {
    transform: scale(1.08);
    box-shadow: 0 0 25px rgba(255, 120, 160, 1),
                0 0 45px rgba(255, 120, 160, 0.8
