* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #5BC0F8, #0F67B1);
    color: white;
    text-align: center;
    padding-bottom: 100px;
}

/* LOADING SCREEN */
#loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-size: 26px;
}

/* PROFILE IMAGE */
.profile {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-top: 40px;
    border: 4px solid white;
}

/* NAME */
.name {
    font-size: 40px;
    margin: 15px 0;
    font-weight: 600;
}

/* BUTTONS */
.btn-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.btn {
    padding: 14px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
}

.pink {
    background: #FF6F91;
    color: white;
}

.blue {
    background: #3A86FF;
    color: white;
}

/* SECTION */
.section {
    width: 85%;
    margin: 40px auto;
}

.title {
    font-size: 28px;
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    display: inline-block;
    padding-bottom: 5px;
}

/* SKILLS */
